/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
Version	 :	1.9.2
Updated	 :	01.15.2020
*/
/*! WRITE YOUR CUSTOM STYLE **/

/*   
MAGENTA: 
dark:       rgba(115,0,150,1)
bright:     rgba(140,0,150,1)

CYAN:
dark:       rgba(115,190,205,1)
bright:     rgba(105,222,170,1)

PINK: 
dark:       rgba(255,25,160,1)
bright:     rgba(255,55,130,1)

*/
